#spinner { 
  x: 50%-25; 
  y: 50%-25;
  width: 50;
  height: 50;
  fill: fb-white; 
}

.red-tumbler-digit-0 {
  x: 58;
  y: 50%-55; 
  width: 58;
  height: 100%;
}

.red-tumbler-digit-1 {
  x: 0;
  y: 50%-55; 
  width: 58;
  height: 100%;
}

.green-tumbler-digit-0 {
  x: 174;
  y: 50%-55; 
  width: 116;
  height: 100%;
}

.green-tumbler-digit-1 {
  x: 116;
  y: 50%-55; 
  width: 116;
  height: 100%;
}

.blue-tumbler-digit-0 {
  x: 290;
  y: 50%-55; 
  width: 116;
  height: 100%;
}

.blue-tumbler-digit-1 {
  x: 232;
  y: 50%-55; 
  width: 116;
  height: 100%;
}

.item { 
  width: 58;
  height: 90; 
}

.item text { 
  font-size: 80; 
  fill: black; 
  x: 50%;
  text-anchor: middle;
}
